<div class="container">

  <div class="content">
    <div class="photo">
      <img
        src="{{ photoCover }}"
        alt="{{ cardTitle }}"
        srcset=""
      >
    </div>

    <div class="title">
      <h1><a [routerLink]="['content', Id]" >{{ cardTitle }}</a></h1>
      <div class="meta">
        <span class="meta__author">{{ author }}</span>
        <span class="meta__dot">•</span>
        <span class="meta__date">{{ formattedDate }}</span>
        <span class="meta__dot">•</span>
        <span class="meta__time">{{ readTime }} de leitura</span>
      </div>
    </div>
  </div>

  <div class="separator">
    <hr>
  </div>

</div>
